<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Focusing on the Future</h4>
    <p>Language and communication is a valuable means of learning and expressing oneself.
    Children need to learn how to make these connections.
    As we grow up, we can continue making connections, cutting through language and speech inhibitors,
    much can be learned from each other.</p>
  </div>

    <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

<!--
  <div class="sidebar-module">
    <h4>Learn more</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "youtube" %></a></li>
      <li><a href="#"><%= fa_icon "instagram" %></a></li>
      <li><a href="#"><%= fa_icon "github" %></a></li>
    </ol>
  </div>
</div>
-->